<footer class="bg-dark text-white text-center py-3">
  <p>&copy; 2024 Daniel Okoro. All Rights Reserved.</p>
  <p>
    <a href="https://github.com/dan-od" target="_blank" class="text-white"><i class="fab fa-github"></i></a>
    <a href="https://linkedin.com/in/daniel-okoro-3905a328b" target="_blank" class="text-white"><i class="fab fa-linkedin"></i></a>
  </p>
</footer>
